*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
#search-box{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#search-box img{
    width: 100%;
}
span{
    
    display: flex;
    flex-direction: column-reverse;
}
#input{
    padding: 20px ;
}
#cards-wrapper{
     width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#cards-wrapper img{
    width: 200px;
    height: 200px;
}